<div class="isolate overflow-hidden  bg-gray-50 px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl" style="color: #6F0114;"><%= @blog_post.title %></h1>
        </div>
      </div>
    </div>
    <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
      <div class="flex-shrink-0"> 
        <div class="h-72 w-full">
          <% if @blog_post&.cover_image.present? %>
            <%= image_tag @blog_post.cover_image %>
          <% else %>
            <!-- Provide a default image or placeholder -->
            <%= image_tag "default_cover_image.jpg" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <p class="mt-6 text-justify">
              <%= sanitize(@blog_post.content, tags: %w(div br strong em p ul ol li a img), attributes: %w(href src alt title)) %>
            </p>
          <div class="pt-6">
            <span class="p-2 bg-gray-300 rounded">
              <%= @blog_post.published_at.strftime("%b %e, %Y, %H:%M")%>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>