<!-- Programs Section -->
<section id="programs" class="py-16 lg:py-20 md:py-16 sm:py-12 px-4 md:px-8 sm:px-6">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-4" style="color: #6F0114;">Programs</h2>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-8 sm:gap-6 md:gap-10 lg:gap-12" style="display: flex; flex-wrap: wrap; justify-content: center;">
      <!-- Program Cards -->
      
      <!-- component --> 
      <div class="flex flex-col justify-center items-center max-w-md mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('<%= asset_path('sex education.jpeg') %>');"></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Community Outreach</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <%= link_to '/', data: { turbo: false }, class: "bg-gray-400 text-xs px-3 py-2 rounded uppercase font-bold text-black hover:bg-indigo-900 hover:text-white" do %>
              Learn More
            <% end %>        
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center max-w-md mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('<%= asset_path('manonseat.png') %>');"></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Choreographic Creations</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <%= link_to '/', data: { turbo: false }, class: "bg-gray-400 text-xs px-3 py-2 rounded uppercase font-bold text-black hover:bg-indigo-900 hover:text-white" do %>
              Learn More
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center items-center max-w-md mx-auto my-6">
        <div class="bg-gray-300 h-64 w-full rounded-lg shadow-md bg-cover bg-center" style="background-image: url('<%= asset_path('residency6.jpg') %>');"></div>
        <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
          <div class="py-2 text-center font-bold tracking-wide text-gray-800">Dance Classes & Trainings</div>
          <div class="flex items-center justify-between py-2 px-3 bg-gray-100">
            <%= link_to '/', data: { turbo: false }, class: "bg-gray-400 text-xs px-3 py-2 rounded uppercase font-bold text-black hover:bg-indigo-900 hover:text-white" do %>
              Learn More
            <% end %>       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>