<nav class="navbar bg-gray-100 py-2 px-0 lg:px-8 fixed pt-6 pb-6 top-0 w-full transition duration-300">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <%#= link_to image_tag("logo.png", class: "w-36 h-auto"), root_path %>
    </div>
    <!-- Toggle Menu Button -->
    <div id="toggleMenuBtn" class="lg:hidden ml-auto pr-4 focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M2 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1z" clip-rule="evenodd" />
      </svg>
    </div>
    <!-- Menu Items -->
    <div id="menu" class="hidden lg:flex lg:items-center">
      <div class="dropdown inline-block relative ml-6">
        <button id="exploreBtn" class="focus:outline-none">Explore</button>
        <ul id="exploreMenu" class="dropdown-menu absolute hidden bg-white text-gray-700 p-2 w-200%">
          <li><%= link_to "About", root_path(anchor:"about-section"), class: "ml-4", style: "text-decoration: none;" %></li>
          <li><%= link_to "Team", root_path(anchor:"team-section"), class: "ml-4", style: "text-decoration: none;" %></li>
          <li><%= link_to "Programs", root_path(anchor:"programs-section"), class: "ml-4", style: "text-decoration: none;" %></li>
          <li><%= link_to "Projects", root_path(anchor:"projects-section"), class: "ml-4", style: "text-decoration: none;" %></li>
          <li><%= link_to "Gallery", root_path(anchor:"gallery-section"), class: "ml-4", style: "text-decoration: none;" %></li>
        </ul>
      </div>
      <%= link_to "Blog", blog_posts_path, class: "ml-4", style: "text-decoration: none;" %>
      <%= link_to "Tours", tours_path, class: "ml-4", style: "text-decoration: none;" %>
      <%= link_to "FAQs", root_path(anchor:"faqs-section"), class: "ml-4", style: "text-decoration: none;" %>
      <%= link_to "Contact", root_path(anchor:"contact-section"), class: "ml-4", style: "text-decoration: none;" %>
      <a href="#">
        <%= button_to "DONATE", destroy_user_session_path, method: :delete, class: "bg-white text-customRed px-4 py-2 rounded hover:bg-customGray hover:text-white ml-4" %>
      </a>
      <% if user_signed_in? %>
        <%= link_to "New blog post", new_blog_post_path, class: "ml-4", style: "text-decoration: none;" %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "bg-customGray text-black px-4 py-2 rounded hover:bg-customBlue hover:text-white ml-4" %>
      <% end %>
    </div>
  </div>
</nav>
