<!-- app/views/home/index.html.erb -->
<section class="bg-center bg-no-repeat bg-cover" style="background-image: url('assets/images/jumbotron.png');">
  <div class="px-4 mx-auto max-w-screen-xl py-24 lg:py-56 flex justify-end">
    <div class="text-right">
      <div class="font-port-lligat-sans font-normal text-black text-8xl leading-tight tracking-tight lg:text-6xl" style="font-size: 200px; line-height: 214.2px; letter-spacing: 6.5%;">
        Dance
      </div>
      <div class="font-port-lligat-sans font-normal text-black text-4xl leading-tight tracking-tight lg:text-3xl" style="font-size: 96px; line-height: 102.82px; letter-spacing: 6.5%;">
        Into Space
      </div>
    </div>
  </div>
</section>

<section id="about-section">
  <%= render partial: 'partials/about' %>
</section>

<section id="team-section">
  <%= render partial: 'partials/team' %>
</section>

<section id="programs-section">
  <%= render partial: 'partials/programs' %>
</section>

<section id="projects-section">
  <%= render partial: 'partials/projects' %>
</section>

<section id="gallery-section">
  <%= render partial: 'partials/gallery' %>
</section>

<section id="faqs-section">
  <%= render partial: 'partials/faqs' %>
</section>

<section id="contact-section">
  <%= render partial: 'partials/contact' %>
</section>