<!-- app/views/home/index.html.erb -->

<section id="jumbotron-section">
  <%= render partial: 'partials/jumbotron' %>
</section>

<section id="about-section">
  <%= render partial: 'partials/about' %>
</section>

<section id="team-section">
  <%= render partial: 'partials/team' %>
</section>

<section id="programs-section">
  <%= render partial: 'partials/programs' %>
</section>

<section id="projects-section">
  <%= render partial: 'partials/projects' %>
</section>


<section id="faqs-section">
  <%= render partial: 'partials/faqs' %>
</section>

<section id="contact-section">
  <%= render partial: 'partials/contact' %>
</section>