<!DOCTYPE html>
<html>
  <head>
    <title>Dance Into Space</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %>
    <link
      rel="icon"
      href="<%= asset_path 'favicon.ico' %>"
      type="image/x-icon"
    />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track":
    "reload" %> <%= stylesheet_link_tag "actiontext", "data-turbo-track":
    "reload" %> <%= stylesheet_link_tag "application", "data-turbo-track":
    "reload" %> <%= javascript_importmap_tags %>
  </head>

  <body class="mx-auto bg-gray-50">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <%= render partial: 'shared/nav' %>
      <div class="">
        <% unless user_signed_in? %>
        <div
          class="fixed right-3 top-4 z-40 flex flex-col items-center justify-center"
        >
          <%= render partial: 'partials/socials' %>
        </div>
        <% end %>
        <div class="top-4"><%= yield %></div>
      </div>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
