<!DOCTYPE html>
<html>
  <head>
    <title>Dance Into Space</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%#= render partial: 'partials/notifications' %>
    <%= render partial: 'shared/nav' %>
  <div class="m-6 p-6">
    <%= yield %>
  </div>
  <%= render partial: 'shared/footer' %>
  <div>

  </div>
  </body>
</html>
